
## Тип моего проекта:
> помощь с борьбой солнечного поткепление

## Библиотеки, которые я буду использовать
- Библиотека random
- Библиотека TelegramPyBotAPI

## Референсы, которые мне пригодятся
- Референс 1
- Референс N

## Гайды-статьи, где есть полезная для меня информация
Короткий комментарий, чтобы понимать про что статья ... [слово на котором будет ссылка](https://github.com/IVAN6672/statia/blob/main/README.md?plain=1 ссылка на статью)
